.# Compilados do Java
*.class
bin/

# Configurações do VS Code
.vscode/

# Banco de dados local da Blockchain (Mantenha o repositório limpo)
BlockChain.json

# Arquivos temporários do sistema
.DS_Store
Thumbs.db